<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- You always need to start from something -->
    <header class="border">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><a href="#">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>  
        </div>
        
    </header>
    <!-- Main Content goes here -->
    <main>
        <div class="banner">
            <div class="overlay"></div>
            <div class="notepad-bg"></div>
            <div class="banner-text">
                    <h1>Head Title</h1>
                    <h3>Here should be some catchy phrase to attract the user.</h3>
                    <button class="btn btn-primary btn-lg mr-2">First Button</button>
                    <button class="btn btn-outline-dark btn-lg">Second Button</button>
            </div>
        </div>
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-10 offset-1  text-center">
                        <h3 class="">About This Business Headline</h3>
                        <hr class="title-spacer">
                        <div class="video-box">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/zgb8OB_G55I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <p class="lead">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="apps-preview">
            <div class="container">
                <div class="row">
                    <div class="col-7 border">
                        <h3>Simply the best apps</h3>
                        <hr class="title-spacer">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="border">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <div class="copyrights">
                        Icons made by <a href="#">Freepic</a> from <a href="#">www.flacticon.com</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>