.logo-link{
    display: inline-block;
    vertical-align: middle;
    min-height: 50px;
    min-width: 100px;
    background-image: url('../img/bison.png');
    background-size: 70% 120%;
    /* width height */
    background-position: 50%;
    /* x - axis y - axis */
    background-repeat: no-repeat;
}
nav ul{
    display: inline-block;
}
.content-height{
    min-height: 560px;
}
footer{
    padding-top: 10px;
}
.footer-links{
    float: left;
    list-style-type: none;
}
.footer-links li{
    display: inline-block;
}
.copyrights{
    float: right;
}